<form>
    <div class="mb-3 mt-3">
        <label for="email">UserName:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="authUser.username"
            placeholder="Enter email" name="email">
    </div>
    <div class="mb-3"> 
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd"
            [(ngModel)]="authUser.password" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-check mb-3">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()">Submit</button>

    <button type="submit" class="btn btn-primary" (click)="getData()">getData</button>

                <input type="file" id="photoFilename" name="photoFilename" (change)="onFileSelected($event)"
                    class="form-control">
    
</form>

<!-- {{authUser|json}} -->
<br>
{{data|json}}

<br>
<!-- {{encryptedCredentials|json}} -->